body {
    font-family: 'Montserrat';
    font-weight: 400;
    text-align: center;    
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Montserrat', sans-serif;

}

p {
    color: #8f8f8f;
}

footer {
    padding: 7% 15%;

}

/* Headings */

.title-heading {
    font-size: 3.5rem;
    font-weight: 900;
    line-height: 1.5;
}

.h2-header {
    font-size: 3rem;
    font-weight: 700;
}

.h3-header {
    font-size: 1.5rem;
    font-weight: 700;
}

/* Title section */

#title {
    background-color: #ff4c68;
    color: white;
    padding-bottom: 10%;
    text-align: left;
}

.container-fluid {
    padding: 3% 15%;
}

/* Navigation Bar */

.navbar {
    padding: 0 0 4.5rem;
}

.navbar-brand {
    font-family: 'Ubuntu';
    font-size: 2.5rem;
    font-weight: bold;
}

.nav-item {
    padding: 0 18px;
}

.nav-link {
    font-size: 1.2rem;
    font-weight: 100;
}

/* Download Buttons */

.download-button {
    margin: 5% 3% 5% 0;
}

/* Title image */

.title-image {
    width: 60%;
    transform: rotate(25deg);
    position: absolute;
    right: 27%;   /* Distance from the right */
}

/* Features icons */

#features {
    padding: 7% 15%;
    background-color: #fff;
    position: relative;
    /* z-index: 1; */
}

.feature-box {
    padding: 4.5%;
}

.features-icons {
    color: #ef8172;
    margin-bottom: 2%;
}

.features-icons:hover {
    color: #ff4c68;
}

/* Testimonials Section */

#testimonials {
    background-color: #ef8172;
    color: #fff;
}

.testimonial-img {
    border-radius: 100%;
    padding: 20px;
    width: 20%;
}

.carousel-item {
    padding: 7% 15%;
}

/* Press section */

#press {
    background-color: #ef8172;
    padding-bottom: 4rem;
}

.press-logo {
    margin: 20px 20px 15px;
    width: 15%;
}

/* Pricing section */

#pricing {
    padding: 5%;
}

.price-card {
    padding: 3%;
}

/* Footer section */

#cta {
    background-color: #ff4c68;
    color: #fff;
    padding: 7% 0 5%;
}

.cta-head {
    font-size: 3.5rem;
    font-weight: 900;
    line-height: 1.5;
    padding: 0 15% 0;
}

.social-media {
    padding: 0 0 2%;
}

.social-media-icon {
    padding: 0 1% 0;
}


/* Media Query for tablet and mobile */

@media (max-width: 1028px) {
    .title-image {
        position: static;
        transform: rotate(0);
    }
    #title {
        text-align: center;
    }
}